@media (max-width: 705px) {
    .sideOpenButton {
        padding: 10px 15px;
        position: absolute;
        left: 0;
    }
}

@media (min-width: 706px) {
    .sideOpenButton {
        display: none;
    }
}
