
@media (min-width: 706px) {
    .user-info {
        position: absolute;
        left: 35px;
        padding: 10px 15px;
        border: 1px solid darkgray;
        border-radius: 5px;
        background-color: white;
    }
}

@media (max-width: 705px) {
    .user-info {
        padding: 12px 5px;
    }
}